*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    color: white;
    font-family: 'outfit';
        /* Royal gradient background */
     background: linear-gradient(135deg, #0c0014, #010003, #020005);
    
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}